/* You can add global styles to this file, and also import other style files */
body  
{  
    height : 100vh;
    width : 100vw;
    margin: 0;  
    padding: 0;  
    background-image: url("../src/assets/samurai.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Arial'; 
}

button,#createAcc, #back, #reg, #log, .button1{  
    margin: auto;
    text-align: center;  
    color: black;  
    padding-block-start: 5px;
    background-image: linear-gradient(rgb(248, 203, 121), rgb(245, 161, 150)) ; 
    border-radius: 10px ;
    display: inline;
    height:70%;
}  

label{  
    color: #1a1414;  
    font-size: 17px;  
}  

#name, #Age1, #email1, #pass, #pass2{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(78, 61, 61); 
}

button:hover {
    background-color:rgb(78, 61, 61);
}

span{  
    color: black;  
    font-size: 17px;  
}  

a{  
    float: right;  
    background-color: grey;  
}  