.register{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    padding: 80px;  
    background-image: linear-gradient(rgb(248, 203, 121), rgb(245, 177, 150)) ; 
    border-radius: 15px ;  
    text-align: center;
    position: absolute;
    top: 50%;
    right: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}  
h2{  
margin: auto;
width: 20%;
text-align: center;  
color: black;  
padding: 20px;
margin: auto;  
position: absolute;
background-image: linear-gradient(rgb(248, 168, 121), rgb(245, 212, 150)) ; 
border-radius: 10px ;
position: relative;

}  

