<h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="get" action="login.php">    
        <label><b>Email<br>    
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Email" [formControl]="fCEmail"/>    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password" [formControl]="fCPassword" />    
        <br><br>    
        <input type="button1" (click)="nav('register')" name="reg" id="reg" value="Register">
        <br><br>
        <input type="button1" (click)="login()" name="log" id="log" value="Log In Here">       
        <br><br>    
        <p>{{requestResult | json}}</p>
        <input type="checkbox" id="check">   
         
        <span>Remember me</span>    
        <br><br>    
        
        
    </form>     
</div>    